*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 100;
  color: grey;
  padding: 0 1em 1em 1em;
}

#circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: lightgrey;
  transition: all 1s;
  max-width: 500px;
  max-height: 500px;
}